{% extends 'layouts/admin.html.twig' %}

{% block title %}
	Admin
{% endblock %}


  
{% block body %}
	<div class="min-h-screen px-2 mx-auto pt-36 max-w-8xl sm:px-6 lg:px-8">
        <div class="text-3xl font-semibold text-center text-red-600">Bienvenue sur votre panneau d'administration.</div>
    </div>
{% endblock %}
