{% extends 'layouts/base.html.twig' %}

{% set datatableSelector = '#datatable' %}

{% block title %}
	Sorties
{% endblock %}

{% block body %}
	<div class="px-2 pt-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div id="datatable"></div>
	</div>
{% endblock %}
